# --- Text file normalization ---
* text=auto

# --- Language override (to ensure correct colors on GitHub) ---
*.py linguist-language=Python
*.ipynb linguist-language=Jupyter Notebook
*.csv linguist-language=CSV
*.xlsx linguist-language=Excel

